<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="traceLog" xsi:type="File" fileName="${currentdir}/Logs/trace-${date:format=yyyy-MM-dd}.txt" />
    <target name="errorLog" xsi:type="File" fileName="${currentdir}/Logs/error-${date:format=yyyy-MM-dd}.txt" />
  </targets>

  <rules>
    <logger name="*" maxlevel="Warn" writeTo="traceLog" />
    <logger name="*" minlevel="Error" writeTo="errorLog" />
  </rules>
</nlog>